.navbar{
    height: 80px;
    max-width: 75rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    width: 6rem;
}

.ListItem{
    margin: 1rem;
    cursor: pointer;

} 

.menuBtn{
   background: white;  
   color: black;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 1rem;
   border-radius: 2rem;
}

ion-icon{
    object-fit: cover;
    height: 1rem;
    width: 2rem;
    margin: 1rem ;
}