#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
}
.bg{
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: -4rem;
    right: 5rem;
    object-fit: cover; 
}

.content{
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
   font-size: 1.75rem; 
   font-weight: 100;
}
.name{
    color: rgba(14, 163, 243, 0.861);
}
.para{
  font-size: medium;  
  font-weight: 100; 
}
.btn{
    background: white;
    margin: 1rem 0;
    /* padding: 0.3rem 0.5rem; */
    border: none;
    border-radius: 2rem;
       /* background: white;   */
   /* color: black; */
   /* border: none; */
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 1rem;
   /* border-radius: 2rem; */
    
}
ion-icon{
    object-fit: cover;
    /* height: 1rem; */
    /* width: 2rem; */
    /* margin: 1rem ; */
}