#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
}
.bg {
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: -4rem;
  right: 5rem;
  object-fit: cover;
}

.content {
  height: 100vh;
  width: 100vh;
  padding: 2rem;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.name {
  color: rgba(14, 163, 243, 0.861);
}
.para {
  font-size: small;
  font-weight: 200;
  letter-spacing: 1px;
}
.btn {
  background: white;
  margin: 1rem 0;
  border: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
ion-icon {
  object-fit: cover;
  height: 1rem;
  width: 2rem;
  margin: 1rem;
}

@media screen and (max-width:840px) {
    .bg{
       right: -10vw;  
    }
    .content{
        font-size:9vw ;
    }
    .hello{
      font-size: 4.5vw;  
    }
}

@media screen and (max-width:480px) {
    .bg{
       right: -20vw;  
    }
   
}